<div id="container">
  <header>
    <h1>Cocoa Beach Community Church</h1>
  </header>
  <div class="carouselcontainer">
  <carousel interval="myInterval">
    <slide ng-repeat="slide in slides" active="slide.active">
      <img ng-src="{{slide.image}}">
      <div class="carousel-caption">
        <!--<h4>Slide {{$index+1}}</h4>-->
      </div>
    </slide>
  </carousel>
    <div class="starthere" data-ng-click="reveal.show = !reveal.show"><p>Start Here</p></div>
  </div><!--carouselcontainer-->
  <section class="contentreveal ng-hide" data-ng-show="reveal.show">
    <p>some text</p>
    <p>some text</p>
    <p>some text</p>
    <p>some text</p>
    <p>some text</p>
    <p>some text</p>
    <p>some text</p>
  </section>

  <footer>
    <p>some footer content</p>
    <p>some footer content</p>
    <p>some footer content</p>
  </footer>

</div>
