<div id="container">
  <header>
  <a ui-sref='home'><h1>Cocoa Beach Community Church</h1></a>
  </header>
  <nav>
    <a href ="https://www.facebook.com/CBCC.UCC" target="_blank"><i class="fa fa-facebook-official"></i></a>
    <a ui-sref="learn">ABOUT</a>
    <a ui-sref="ministries">MINISTRIES</a>
    <a ui-sref="facilities">WEDDINGS</a>
    <a ui-sref="events">EVENTS</a>
    <a ui-sref="give">GIVE</a>
	<p class='wtimes'>WORSHIP: SUNDAYS AT 10:00AM FELLOWSHIP: 11:00AM</p>
	</nav>
  <div class="carouselcontainer">
  <carousel interval="myInterval">
    <slide ng-repeat="slide in slides" active="slide.active">
      <img ng-src="{{slide.image}}">
      <div class="carousel-caption">
        <!--<h4>Slide {{$index+1}}</h4>-->
      </div>
    </slide>
  </carousel>
    <div class="starthere" data-ng-click="reveal.show = !reveal.show; scrollTo('plan')"><p>Start Here</p></div>
  </div><!--carouselcontainer-->
  <section class="contentreveal ng-hide" data-ng-show="reveal.show">
    <div class="row tilerow"><!--TILE ROW START-->
      <div class="linkanddesccontainer col-md-4 col-md-offset-1">
    <div class="linkcontainer "><!--SINGLE TILE IN ROW-->
      <a ui-sref="plan" class="linktile" id='plan'>
        <div class="row">
          <div class="iconcontainer">
            <i class="fa fa-calendar fa-4x"></i>
          </div>
          <div class="linktiletext">
            <p class="linkname">Plan</p>
            <p class="linksubtitle">Your Visit</p>
          </div>
        </div>
      </a><!--linktile-->
    </div><!--linkcontainer-->
      <p class="description">We can't wait to meet you and we want your experience to be amazing.</p>
    </div><!--linkanddescontainer-->

      <div class="linkanddesccontainer col-md-4 col-md-offset-2">
        <div class="linkcontainer "><!--SINGLE TILE IN ROW-->
          <a ui-sref="learn" class="linktile">
            <div class="row">
              <div class="iconcontainer">
                <i class="fa fa-home fa-4x"></i>
              </div>
              <div class="linktiletext">
                <p class="linkname">Learn More</p>
                <p class="linksubtitle">About CBCC</p>
              </div>
            </div>
          </a><!--linktile-->
        </div><!--linkcontainer-->
        <p class="description">Click here to learn more about Cocoa Beach Community Church.</p>
      </div><!--linkanddescontainer-->
    </div><!--row-->

    <div class="row tilerow"><!--TILE ROW START-->
      <div class="linkanddesccontainer col-md-4 col-md-offset-1">
        <div class="linkcontainer "><!--SINGLE TILE IN ROW-->
          <a ui-sref="ministries" class="linktile">
            <div class="row">
              <div class="iconcontainer">
                <i class="fa fa-globe fa-4x"></i>
              </div>
              <div class="linktiletext">
                <p class="linkname">Ministries</p>
                <p class="linksubtitle">At CBCC</p>
              </div>
            </div>
          </a><!--linktile-->
        </div><!--linkcontainer-->
        <p class="description">Worship, Education, Mission, Pastoral Care, Women's Fellowship and much more.</p>
      </div><!--linkanddescontainer-->

      <div class="linkanddesccontainer col-md-4 col-md-offset-2">
        <div class="linkcontainer "><!--SINGLE TILE IN ROW-->
          <a ui-sref="facilities" class="linktile">
            <div class="row">
              <div class="iconcontainer">
                <i class="fa fa-building fa-4x"></i>
              </div>
              <div class="linktiletext">
                <p class="linkname">Facilities</p>
                <p class="linksubtitle">Whats available</p>
              </div>
            </div>
          </a><!--linktile-->
        </div><!--linkcontainer-->
        <p class="description">Weddings, Receptions, Retreats, Parties, Business Meetings, and more.</p>
      </div><!--linkanddescontainer-->
    </div><!--row-->
    <div class="row tilerow"><!--TILE ROW START-->
      <div class="linkanddesccontainer col-md-4 col-md-offset-1">
        <div class="linkcontainer "><!--SINGLE TILE IN ROW-->
          <a ui-sref="events" class="linktile">
            <div class="row">
              <div class="iconcontainer">
                <i class="fa fa-star fa-4x"></i>
              </div>
              <div class="linktiletext">
                <p class="linkname">Events</p>
                <p class="linksubtitle">Whats happening now?</p>
              </div>
            </div>
          </a><!--linktile-->
        </div><!--linkcontainer-->
        <p class="description">Explore all of the current events.</p>
      </div><!--linkanddescontainer-->

      <div class="linkanddesccontainer col-md-4 col-md-offset-2">
        <div class="linkcontainer "><!--SINGLE TILE IN ROW-->
          <a ui-sref="spiritual" class="linktile">
            <div class="row">
              <div class="iconcontainer">
                <i class="fa fa-heart fa-4x"></i>
              </div>
              <div class="linktiletext">
                <p class="linkname">Spiritual Life</p>
                <p class="linksubtitle">Find a life team</p>
              </div>
            </div>
          </a><!--linktile-->
        </div><!--linkcontainer-->
        <p class="description">All about the center for spiritual enrichment</p>
      </div><!--linkanddescontainer-->
    </div><!--row-->
    <div class="row tilerow"><!--TILE ROW START-->
      <div class="linkanddesccontainer col-md-4 col-md-offset-1">
        <div class="linkcontainer "><!--SINGLE TILE IN ROW-->
          <a ui-sref="thriftshop" class="linktile">
            <div class="row">
              <div class="iconcontainer">
                <i class="fa fa-shopping-cart fa-4x"></i>
              </div>
              <div class="linktiletext">
                <p class="linkname">Thrift Shop</p>
                <p class="linksubtitle">Open daily</p>
              </div>
            </div>
          </a><!--linktile-->
        </div><!--linkcontainer-->
        <p class="description">Short summary about the thrift shop, perhaps the hours</p>
      </div><!--linkanddescontainer-->

      <div class="linkanddesccontainer col-md-4 col-md-offset-2">
        <div class="linkcontainer wfellowship"><!--SINGLE TILE IN ROW-->
          <a ui-sref="wfellowship" class="linktile">
            <div class="row">
              <div class="iconcontainer">
                <i class="fa fa-female fa-4x"></i>
              </div>
              <div class="linktiletext">
					  <p class="linkname">Womens Fellowship</p>
                <p class="linksubtitle">some subtitle</p>
              </div>
            </div>
          </a><!--linktile-->
        </div><!--linkcontainer-->
        <p class="description">A short summary of some type here</p>
      </div><!--linkanddescontainer-->
    </div><!--row-->
    <div class="row tilerow"><!--TILE ROW START-->
      <div class="linkanddesccontainer col-md-4 col-md-offset-1">
        <div class="linkcontainer "><!--SINGLE TILE IN ROW-->
          <a ui-sref="photos" class="linktile">
            <div class="row">
              <div class="iconcontainer">
                <i class="fa fa-camera fa-4x"></i>
              </div>
              <div class="linktiletext">
                <p class="linkname">Photo Gallery</p>
                <p class="linksubtitle">Collection of images</p>
              </div>
            </div>
          </a><!--linktile-->
        </div><!--linkcontainer-->
        <p class="description">Check out how fun we are!</p>
      </div><!--linkanddescontainer-->

      <div class="linkanddesccontainer col-md-4 col-md-offset-2">
        <div class="linkcontainer "><!--SINGLE TILE IN ROW-->
          <a ui-sref="give" class="linktile">
            <div class="row">
              <div class="iconcontainer">
                <i class="fa fa-child fa-4x"></i>
              </div>
              <div class="linktiletext">
                <p class="linkname">Give</p>
                <p class="linksubtitle">Make a donation</p>
              </div>
            </div>
          </a><!--linktile-->
        </div><!--linkcontainer-->
        <p class="description">Click here to help continue our work.</p>
      </div><!--linkanddescontainer-->
    </div><!--row-->
  </section>
  <footer>
  <p class='statement col-md-10 col-md-offset-1'>This Sanctuary is a Safe Place for all People to Worship, Regardless of Race, Creed, Gender, Cultural
  Background or Sexual Orientation.</p>
  <div class='row linksandlogo'>
		<div class='col-md-offset-3 col-sm-offset-1 col-xs-offset-1 col-md-1 col-sm-2 col-xs-3'>
				<a href='http://www.ucc.org/' target='_blank' alt='UCC home page'>
					<img class='img-responsive' src='assets/images/ucclogo.gif' alt='UCC logo'>
				</a>
		</div>
		<div class='footlinkcontainer col-md-7'>
				<div class='col-md-10 col-xs-8 locinfo row'>
						<span>
						Cocoa Beach Community Church, 126 South Atlantic Avenue, Cocoa Beach, FL  32931 
						</span>
						<span>
						(321) 783-3961
						</span>
		</div>
		<div class='row'>
		<div class='col-md-10 col-sm-8 footlinks'>
				<a ui-sref='home'>Home</a>
				<a ui-sref='learn'>Learn More</a>
				<a ui-sref='ministries'>Ministries</a>
				<a class='hidden-xs' ui-sref='facilities'>Facilities</a>
				<a class='hidden-xs' ui-sref='spiritual'>Spiritual Life</a>
		</div><!--footlinkcontainer-->
		</div>
	</div><!--row-->
  </footer>
