h1, h2, h3, h4, h5, h6, p, a, span{
	font-family: 'Roboto', sans-serif;
}
body {
	background-color: #F7F7F0;
}
#container{
  position:relative;
  header{
    position: absolute;
    top: 0;
    left: 5vw;
    z-index: 10;
    width: 22em;
    color: white;
    background-color: rgba(47, 79, 79, 0.7);
    padding: 1em 0 1em 0;
    text-align: center;
    border-radius: 0 0 1vw 1vw;
	@media (max-width: 500px) {
		width: 100%;
		position: relative;
		border-radius: 0;
    	background-color: rgba(47, 79, 79, 1);
    	padding: 1.5em 0 1.5em 0;
	}
    @media (max-width: 937px) {
      left: 0;
      right: 0;
      margin-left: auto;
      margin-right: auto;
    }
    @media (min-width: 938px) {
      padding-top: 2em;
      padding-bottom: 2em;
      font-size: 1.2em;
    }
    h1 {
      margin: 0;
      padding: 0;
      font-size: 1.2em;
    }
	a {
		color: white;
		cursor: pointer;
	}
  }
  nav {
    position: absolute;
    top: 2em;
    right: 5em;
    width: 32em;
    background-color: rgba(47, 79, 79, 0.7);
    z-index: 10;
    text-align: center;
    border-radius: 25px;
    padding: 0.5em 0 0.5em 0;
    @media (max-width: 937px) {
      top: 5em;
      font-size: 0.7em;
      left: 0;
      right: 0;
      width: 32em;
      margin-left: auto;
      margin-right: auto;
    }
	@media (max-width: 500px) {
		top: 7em;
	}
    a:first-child {
      border-right: 1px solid white;
      padding-right: 1em;
      padding-left: 0 !important;
    }
    a {
      padding-left: 1em;
      color: white;
      text-decoration: none;
    }
    a:hover{
      color: orange;
    }
    a:last-child {
    }
	.wtimes {
		position: absolute;
		top: 3em;
		left: 0;
		right:0;
		color: white;
		text-shadow: 2px 0px #4A4A4A;
	}
  }
}
.otherpages{
	.wtimes{
		color: orange !important;
		text-shadow: none !important;		
	}
}
.carousel .item {
  width: 100%; /*slider width*/
  max-height: 70vh; /*slider height*/
}
.carousel .item img {
  width: 100%; /*img width*/
}
/*add some makeup*/
.carousel-control {
  background: none;
  border: none;
  cursor: pointer;
}
.carousel-indicators {
  bottom: 5vw;
  @media (max-width: 937px) {
    display: none;
  }
}
.carouselcontainer {
  position: relative;
}
.starthere{
  cursor: pointer;
  width: 12em;
  display: block;
  background-color: orange;
  padding: 1em;
  border-radius: 35px;
  border: 5px solid #F0B072;
  position: absolute;
  left: 0;
  right: 0;
  margin-left: auto;
  margin-right: auto;
  z-index: 10;
  bottom: -2em;
  text-align: center;
  @media(min-width: 937px){
    width: 17em;
    bottom: -3em;
  }
  p {
    margin: 0;
    padding: 0;
    font-size: 2em;
    color: white;
    @media(min-width: 937px){
      font-size: 3em;
    }
  }
}
.contentreveal {
  transition: 0.5s linear all;
  overflow: hidden;
  max-height: 2000px;
  padding-top: 5em;
  padding-bottom: 5em;
}
.ng-hide-add, .ng-hide-remove {
  display: block !important;
}
.contentreveal.ng-hide {
  max-height: 0;
}
.linkcontainer {
  background-color: #F5A500;
  padding: 1em;
}
.linkcontainer .wfellowship{
	background: url('../assets/images/wfellowshipbutton.jpg') !important;
}
.iconcontainer {
  color: white;
  display: inline-block;
  padding-left: 1em;
  padding-right: 1em;
  border-right: 1px solid white;
  width: 6em;
  text-align: center;
}
.linktiletext {
  color: white;
  display: inline-block;
  padding-left: 2em;
  .linkname {
    font-size: 1.5em;
    font-weight: bold;
  }
  .linksubtitle {
    font-size:1.25em;
  }

}
.description {
  margin-top: 1em;
}
.tilerow {
  margin-top: 2em;
}

//need to deal with this
.otherpages{
	padding-bottom: 4em;
}
footer {
	overflow: hidden;
  	border-top: 3px solid lightgray;
  	border-bottom: 6px solid #FFA600;
  	background-color: #4A4A4A;
  	color: white;
  	padding-top: 5em;
  	padding-bottom:2em;
  .footlinkcontainer{
		a {
			color: white;
		}
		span {
			display: block;
		}
		span:last-child {
			margin-bottom: 2em;
		}
	}
 	.statement {
		text-align: center;	
		margin-bottom: 2em;
		font-size:1.5em;
	}
	.linksandlogo{
		margin-top: 2em;
	}
	.locinfo{
		text-align: right;	
	}
	.footlinks{
			text-align: right;
		a {
			margin-right: 2em;
		}
		a:first-child{
			margin-left: 0;	
		}	
	}
}
.otherpages {
		overflow: hidden;
		.externallinks{
			margin-top: 2em;		
		}
		.pagescontent {
			padding-top: 9em;	
		}
		.worshiptime{
			font-size: 150%;
		}
		.topimage {
			background: url('../assets/images/frontofchurch.jpg') center;
			background-size: cover;
			width: 100%;
			height: 35vh;	
			border-top: 10px solid #F17830;
			border-bottom: 10px solid #F17830;
		}
		.lefttext {
			#map{
				margin-top:3em;
				margin-bottom:-5em;
			}
			h2{
				font-size:3em;
				margin-top:1em;
			}
			h3{
				font-size:2.5em;
				margin-top: 1em;	
				margin-bottom:1em;
			}
			h4{
				font-size:1.5em;
				margin-top:1em;	
			}
			h5 {
				font-size:1.25em;
				margin-top:1em;
			}
			@media(max-width: 500px){
				padding-left: 2em;	
			}	
		}
		.rightlinks {
				padding-top: 6em;
			a {
				margin-top:0.5em;
				display: block;
				cursor: pointer;
			}
			h3 {
				border-bottom: 1px solid black;	
			}	
		}
}
.bottomimages{
		div{
			padding:0;
			overflow: hidden;	
			margin-top: 2em;
		}
	img {
		width: 100%;
	}
}
/*full width container*/
@media (max-width: 767px) {
  .block {
    margin-left: -20px;
    margin-right: -20px;
  }
}
// injector
// endinjector
