<div id="container" class='otherpages'>
  <header>
  <a ui-sref='home'><h1>Cocoa Beach Community Church</h1></a>
  </header>
  <nav>
    <a href ="https://www.facebook.com/CBCC.UCC" target="_blank"><i class="fa fa-facebook-official"></i></a>
    <a ui-sref="learn">ABOUT</a>
    <a ui-sref="ministries">MINISTRIES</a>
    <a ui-sref="facilities">WEDDINGS</a>
    <a ui-sref="opportunities">SERVE</a>
    <a ui-sref="give">GIVE</a>
  </nav>
  <section class='pagescontent'>
		<div class='topimage'>
		</div>
		<div class='row'>
			<section class='lefttext col-md-6 col-md-offset-1'>
				<h2>MINISTRIES</h2>
				<h3 id='worship'>Worship</h3>
				<p>Sundays @ 10:00 AM.</p>
				<p>Minister: Rev. Dr. Bill Tyson</p>
				<p>Choir Director: Mrs. Janet Johns</p>
				<p>Organist: Mr. David Wrable</p>
				<h3 id='education'>Education</h3>
				<p>Coleman Todd: Associate for Church Growth, Social Justice and Education</p>
				<h3 id='adultbible'>Adult Bible Discussion</h3>		
				<h4>Sundays at 9:00am and Tuesdays at 2:00pm</h4>
				<h5>Facilatator: Loren Bowling</h5>
				<p>	
				This class is based on the Standard Lesson Quarterly [NIV]. SLQ combines meaningful Bible study with culturally relevant examples and discussion questions.       
				</p>	
				<h3 id='childrenand'>Children and Youth Programs</h3>	
				<p>
				NO CURRENT PLAN FOR HERE…..WE WILL HAVE STATIC INFO SOON AND EVENTUALLY IT WOULD BE NICE TO HAVE A LINK PULL CURRENT INFO FROM A BLOG HERE.
				</p>
				<h3 id='centerfor'>
				CENTER FOR SPIRITUAL ENRICHMENT
				</h3>
				<h4>
				Thursdays 12:00 PM to 2:00 PM
				</h4>
				<h4>
				12:00 PM LUNCH $3.00 / 12:30 PM – 2:00 PM PROGRAM 
				</h4>
				<h4>
				Facilitated by Cindy Johnson and Coleman Todd
				</h4>
				<p>
				The CSE gathers throughout the year for book studies, video presentations and discussions on various topics on progressive religion and spiritual interest. 
				</p>
				<p>------BLOG INSERTION-------</p>
				<p>Contact Coleman Todd at <a href='mailto:coleman@cbcc-ucc.org'>coleman@cbcc-ucc.org</a></p>
				<h3 id='mission'>Mission</h3>
				<p>“Let us not love with words or speech but with actions and in truth.”
				</p>
				<h4 id='local'>Local</h4>
				<h5 id='hungerknows'>HUNGER KNOWS NO SEASON . . . WE COLLECT FOOD EVERY WEEK!</h5>
				<p>
				CBCC helps support many food ministries In Cocoa Beach and throughout the Space Coast.  We appreciate the food and other items brought in each Sunday and placed in our basket. Single serving items are used in ready to eat lunch bags available at the thrift store and at the church office.  Other foods items are given to local food pantries.  
				</p>
				<h5 id='underoaks'>UNDER THE OAKS. . .SECOND SATURDAY SUPPERS
				</h5>
				<p>
				Bring some friends and come enjoy a late afternoon of Food, Fellowship and often there is live music too. This is a great outreach opportunity.  Invite friends or someone you may know who may be looking for a church home but may be hesitant to come on Sunday mornings.  Of course we hope each month more and more will just drop in.  Maybe it will be neighbors needing nourishment, or seekers seeking spirit, or friends finding fellowship. Want to Help? Food, Set-up / Clean-up:  Contact Coleman Todd at <a href='mailto:coleman@cbcc-ucc.org'>coleman@cbcc-ucc.org</a></p>
				<h5 id='cocoabeach'>
 				COCOA BEACH COMMUNITY MEAL
				</h5>
				<p>First &amp; Third Sundays of Each Month from 5:00 PM to 7:00 PM.</p>
				<p>Food Pantry Open during the meal </p>
				<p>Location: First United Methodist Church: 3300 N. Atlantic Ave.</p>
				<p>Want to volunteer? Contact Coleman Todd at  <a href='mailto:coleman@cbcc-ucc.org'>coleman@cbcc-ucc.org</a></p>
				<h3 id='statenational'>
				STATE, NATIONAL AND GLOBAL MISSION
				</h3>	
				<h4 id='uccmission'>
				UCC Mission opportunities: 
				</h4>
				<a href='http://www.uccfla.org/uccfla/Disaster_Ministry.html'>www.uccfla.org/uccfla/Disaster_Ministry.html</a><br />
				<a href='http://www.ucc.org/disaster'>www.ucc.org/disaster</a><br />
				<a href='http://www.ucc.org/justice'>www.ucc.org/justice</a><br />
				<a href='http://www.globalministries.org/'>www.globalministries.org/</a><br />
				<h4 id='cropwalk'>Crop Walk</h4>
				<p>
				Communities Responding to Overcome Poverty.  CROP Walk is a fundraising activity that helps to feed hungry people in Central Brevard County as well as around the rest of the U.S. and world.  
				25% of funds raised stay local, used for Central Brevard Sharing Center’s Community Kitchen Program. See Church World Service link below to find out more about Crop Walk.
				</p>
				<a href='http://hunger.cwsglobal.org'>hunger.cwsglobal.org</a>
				<h3 id='pastoralcare'>
						PASTORAL CARE
				</h3>
				<h4>
					SPREADING LOVE AND CARE
				</h4>
				<p>
				Caring members of our Church regularly visit members and friends in their homes, in hospitals, or in nursing homes. Birthday cards, Get-Well Wishes, and Miss-You cards are sent regularly. Those who receive it appreciate this personal contact provided by members of our church. The gift of giving & sharing is deeply rewarding. 
				</p>
				<p>
				Do you know someone in need? Do you need a Birthday or Anniversary added to The Courier or card list?  Was one missed?
				</p>
				<p>Other things here…need to fill in.,...... </p>
				<h3 id='providea'>PROVIDE A RIDE</h3>
				<p>
				Some church members and friends need rides to church on Sundays, or to meetings and activities our church offers during the week. 
				</p>
				<p>
				If you need a ride or want to provide a ride please contact church office. 321-783-3961
				</p>



				<h3>---whats happening with this stuff---</h3>	
				<p>All ages gather for worship at 10:00 AM in the church sanctuary. Our worship is primarily traditional worship with our church choir offering an inspiring anthem almost every week. We have a talented rotation of soloists and ensemble teams that encompass other musical genres creating a diverse musical experience on Sundays.
				</p>
				<h4>((maybe a choir heading/section?))</h4>
				<p>Choir Director: Mrs. Janet Johns</p>
				<p>Church Organist: Mr. David Wrable</p>
				<p>Choir Rehearsal:</p>
				<p>Wednesdays evenings at 7:00 PM and Sunday Mornings at 9:30AM</p>
				<h4>Adult Bible Discussions: 9:00 AM</h4>
				<h4>Sunday Children and Youth : 10:00AM</h4>
				<p>The Sunday morning program is for K to 6th; 7th to 12th are welcome to participate in the Hands On leadership team or remain in worship. 
				</p>
				<p>During our worship service, a slide indicates that children and youth can depart for morning program that includes Bible Stories, Music, Elements of Worship, Crafts, Games and Refreshments.  After worship, parents can meet with their children in Sponsler Hall.</p>
				<p>Parents with infants and small children:</p>
				<p>We are unable to offer childcare or educational class for children less than four years of age.  We do invite families to remain in worship and use our break room if needed, which is located near the front doors. You are still able to see and hear the worship service!</p>
				<h4>After Worship is Fellowship</h4>
				<p>Meet and Greet Friends Old and New!</p>
				<p>Every week after worship plan to visit our fellowship time and get to know the friendly folk at CBCC.
				</p>
				<p>Potluck Lunch! The first Sunday of every month we enjoy a terrific potluck lunch. Don’t worry if you didn’t bring a dish to share because there is always plenty to go around!
				</p>
				<p>Fellowship is more than coffee!
				</p>
				<p>It is an important part of the gathered church life!
				</p>
				<h4>SUNDAY SERVANTS</h4>
				<p>Each week it takes many hands to insure that our worship is the best it can be. We welcome those who wish to serve on Sundays! 
				</p>
				<p>Sunday School Leadership Team: 
				</p>
				<p>Ushers and Greeters: 
				</p>
				<p>Be an usher or a greeter. This is an important and vital service to our worshipping community. A greeter’s warm smile and a friendly “good morning” at the door makes anyone feel better. Our ushers make sure everyone finds a comfortable seat and has a worship bulletin. Ushers participate in the worship service too; lighting altar candles, collecting the offering and serving communion. 
				</p>
				<p>Audio/Visual:</p>
				<p>Audio: Be a soundboard technician! Learn how to operate our soundboard, set up microphones and help our musical teams sound their very best.
				</p>
				<p>
				Video: Be a Clicker! Weekly PowerPoint presentations need someone to “click” through the slides that project our hymns, liturgy and scripture. 
				</p>
				<p>Fellowship Hosts
				</p>
				<p>Consider hosting fellowship one Sunday! Hosts don’t need to buy the food (they can) but our Sunday snacks are purchased in advance and already at the church. Fellowship hosts need to come in earlier on Sunday and set up. Hosts often leave worship a little early to be prepared for those ready for a good cup of coffee and a snack after worship and then tidy up thereafter. A great ministry for couples or two friends who love to entertain. 
				</p>

			</section><!--lefttext-->
			<section class='rightlinks col-md-2 col-md-offset-1 hidden-xs'>
					<h3>MINISTRIES</h3>
					<a ng-click="scrollTo('worship')">Worship</a>
					<a ng-click="scrollTo('education')">Education</a>
					<a ng-click="scrollTo('adultbible')">Adult Bible Discussion</a>
					<a ng-click="scrollTo('childrenand')">Children and Youth Programs</a>
					<a ng-click="scrollTo('centerfor')">Center For Spiritual Enrichment</a>
					<a ng-click="scrollTo('mission')">Missions</a>
					<a ng-click="scrollTo('local')">Local Missions</a>
					<a ng-click="scrollTo('hungerknows')">Food Collection</a>
					<a ng-click="scrollTo('underoaks')">Second Saturday Suppers</a>
					<a ng-click="scrollTo('cocoabeach')">Cocoa Beach Community Meal</a>
					<a ng-click="scrollTo('statenational')">State, National and Global Missions</a>
					<a ng-click="scrollTo('pastoralcare')">Pastoral Care</a>
					<a ng-click="scrollTo('providea')">Provide a Ride</a>
			</section><!--rightlinks-->
		</div>
  </section>
</div>
